/* @description

Main CSS file

Color References
Text: 
Links: 

*/

/* @override 
http://cultureapp.site/assets/css/site/style.css
*/

.derp { color: #FF0043; }

/* @group Genre colours */
.category.dance {			background-color: #d11418; }
.category.comedy {			background-color: #eab300; }
.category.film {			background-color: #57837d; }
.category.family {			background-color: #d52dd5; }
.category.classical {		background-color: #e05d00; }
.category.music {			background-color: #244bd4; }
.category.theatre {		background-color: #9700F0; }
.category.spoken-word {	background-color: #e29107; }
.category.club {			background-color: #5a79af; }
.category.exhibit {		background-color: #af2e7d; }
.category.digital {		background-color: #333; }
.category.visual-arts {	background-color: #b7b400; }
.category.workshop {		background-color: #585858; }
.category.folk-and-world {	background-color: #1689af; }
.category.jazz-and-blues {	background-color: #316eaf; }
.category.rock-and-pop {	background-color: #0057c6; }
.category.opera {			background-color: #de007d; }
.category.conference {		background-color: #84af5a; }
.category.special-event {	background-color: #004902; }
.category.sport {			background-color: #3baf3f; }
/* @end */

/* @group Animations */

@-webkit-keyframes button-pulse {
 0% {
   background-color: #000;
 }
 100% {
   background-color: #666;
 }
}

/* @end */


/* @override http://poirot.site/assets/style/theme.css */

/* @group Units */
.unit:after, .group:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.unit, .group { display: inline-block; }
* html .unit, * html .group { height: 1%; }
.unit, .group { display: block; }
/* @end */

body {
	color: #444;
	background: #000;
}

a:link {
	color: #3dd0dc;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}
a:visited {
	color: #34b2bc;
}
a:hover {
	color: #c6faff;
}
a:active {
	color: #00cbdc;
}
a.more {
	background: url(../images/picto16/1_35.png) no-repeat 0 1px;
	padding: 1px 0 1px 22px;
	color: #000;
}

/* @group Colour swaps */

.alt {
	color: #d4d1d6;
}
.alt strong, .alt b, .alt th {
	font-weight: bold;
	color: #FFF;
}
.alt h1,.alt h2,.alt h3,.alt h4,.alt h5,.alt h6,.alt h1 strong,.alt h2 strong,.alt h3 strong,.alt h4 strong,.alt h5 strong,.alt h6 strong {
	color: #FFF;
}

.alt a {
	-webkit-font-smoothing: antialiased;
}

/* @end */

#container {
}
/* @group Clearfix */
#container:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
} /* Clearfix */
* html #container { zoom: 1; display: block; } /* Clearfix - IE6 */
*:first-child+html #container { zoom: 1; } /* Clearfix - IE7 */
/* @end */

#page-content {
	width: 950px;
	margin: 0px auto;
	padding: 0 10px;
	margin-top: -15px;
}
/* @group Clearfix */
#page-content:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
} /* Clearfix */
* html #page-content { zoom: 1; display: block; } /* Clearfix - IE6 */
*:first-child+html #page-content { zoom: 1; } /* Clearfix - IE7 */
/* @end */

#skip-links {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}
#header {
	margin: 0px auto;
	padding-bottom: 13px;
	
	background: #3dd0dc; /* old browsers */
background: -moz-linear-gradient(top, #3dd0dc 0%, #36bbc6 100%); /* firefox */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3dd0dc), color-stop(100%,#36bbc6)); /* webkit */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3dd0dc', endColorstr='#36bbc6',GradientType=0 ); /* ie */
}
#header-inner {
	width: 950px;
	margin: 0px auto;
}
#header #unit-logo {
	color: #FFF;
	width: 430px;
	margin-right: 10px;
	padding: 20px 0 20px 0;
	float: left;
}
#header #unit-logo h1 {
	color: #FFF;
	margin: 0;
	font-weight: normal;
	font-size: 4em;
	-webkit-font-smoothing: antialiased;
	text-shadow: rgba(0,0,0,0.14) 0 3px 0;
}
#header #unit-user-info {
	width: 230px;
	float: left;
	margin-right: 10px;
	margin-top: 23px;
	-webkit-font-smoothing: antialiased;
}
#header #unit-user-info p {
	padding: 0px;
	margin: 0;
	line-height: 28px;
	color: #444;
}
#header #unit-user-info p a {
	color: #FFF;
}
#header #unit-user-info img {
	margin-right: 8px;
	border: 2px solid #FFF;
}
#header #unit-site-search {
	width: 170px;
	float: right;
	margin-top: 25px;
}
#header #unit-site-search input {
	width: 170px;
}
#header #unit-site-search input.placeholder  {
	color: #888;
}
#header #unit-site-search label {
	display: none;
}
#header #unit-site-search button {
	display: none;
}
/* @group Clearfix */
#header:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
} /* Clearfix */
* html #header { zoom: 1; display: block; } /* Clearfix - IE6 */
*:first-child+html #header { zoom: 1; } /* Clearfix - IE7 */
/* @end */

#group-tools {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	background: ;
	height: 78px;
	border: 8px solid #18545a;
	border-radius: 8px;
	position: relative;
	left: -8px;
	top: -8px;
	
	background: #FFFFFF; /* old browsers */
background: -moz-linear-gradient(top, #FFFFFF 0%, #CCC 100%); /* firefox */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#CCC)); /* webkit */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#CCC',GradientType=0 );
}
#group-tools #unit-postcode-search {
	background: #2e9da6;
	width: 310px;
	height: 48px;
	padding: 10px 20px 20px 16px;
	vertical-align: top;
	float: left;
}
#group-tools #unit-postcode-search label {
	display: none;
}
#group-tools #unit-postcode-search .field {
	width: 255px;
	display: inline-block;
}
#group-tools #unit-timeline {
	float: left;
	width: 500px;
	padding: 20px;
}
#group-tools #unit-timeline {
	color: #000;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
}
#group-tools #unit-postcode-search input {
	width: 100%;
	font-size: 28px;
	border: 4px solid #FFF;
	margin-bottom: 10px;
	padding-left: 5px;
	margin-top: 5px;
	font-family: "brevia-1","brevia-2",sans-serif;
	font-weight: bold;
	color: #666;
}
#group-tools #unit-postcode-search button {
	width: 52px;
	font-size: 21px;
	margin: 4px 0;
	position: relative;
	top: 1px;
	height: 48px;
	border: none;
	background-color: #000;
	color: #FFF;
	font-family: "brevia-1","brevia-2",sans-serif;
	font-weight: bold;
	-webkit-animation-name: button-pulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: 10000;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
}
#group-tools #unit-postcode-search button:hover {
	
}
@-webkit-keyframes spin {
      from { -webkit-transform: rotateY(0); }
      to   { -webkit-transform: rotateY(360deg); }
    }

#page-content {
      -webkit-perspective: 900;
}
#primary-content {
	margin-top: 0.5em;
	width: 310px;
	float: left;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: -webkit-transform 0.3s linear;
	background: #333;
	position: relative;
}
#primary-content.calculating {
	-webkit-transform: rotateY(180deg);
}
#secondary-content {
	width: 560px;
	float: left;
	margin-left: 20px;
	padding: 20px;
	background: #FFF;

	margin-top: 0.5em;
}

#canvas {
	background-color: #F0F0F0;
	height: 685px;
}
#footer {
	border-top: 1px solid #CCC;
	margin: 20px auto;
	padding-top: 10px;
	width: 950px;
	font-size: 11px;
	font-weight: bold;
	color: #666;
	-webkit-font-smoothing: antialiased;
}
#calculating {
	font-family: "brevia-1","brevia-2",sans-serif;
	font-weight: bold;
	font-size: 2em;
	color: #F9F9F9;
	text-align: center;
	height: 100px;
	line-height: 100px;
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: rotateY(180deg);
	position: absolute;
	top: 10px;
	right: 70px;
	width: 20px;
}
.calculating #calculating {
	display: block;
}

#unit-scores {
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
}
#unit-scores #score {
	font-size: 60px;
	margin: 0 0 10px 0;
	text-align: center;
	font-family: "brevia-1","brevia-2",sans-serif;
	padding: 3px 20px 1px;
	margin-top: -2px;
	border-radius: 46px;
	font-weight: bold;
	
	background: #FFFFFF; /* old browsers */
background: -moz-linear-gradient(top, #FFFFFF 0%, #E3E4E5 74%); /* firefox */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(74%,#E3E4E5)); /* webkit */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#E3E4E5',GradientType=0 );
	text-shadow: #fff 0 1px 1px;
	color: #616161;
	
}
#unit-scores {
	padding: 1em;
}
#unit-scores ol {
	list-style: none;
	padding: 0;
	margin: 0;
}
#unit-scores li {
	list-style: none;
	margin: 0;
	padding: 10px 15px;
	margin-bottom: 4px;
	font-size: 1.4em;
	position: relative;
}
#unit-scores li strong {
	font-weight: normal;
}

#unit-scores li span {
	position: absolute;
	left: 88%;
	padding: 3px 20px 1px;
	margin-top: -2px;
	border-radius: 36px;
	font-weight: bold;
	
	background: #FFFFFF; /* old browsers */
background: -moz-linear-gradient(top, #FFFFFF 0%, #E3E4E5 74%); /* firefox */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(74%,#E3E4E5)); /* webkit */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#E3E4E5',GradientType=0 );
	text-shadow: #fff 0 1px 1px;
	color: #616161;
}
